p {
    background-color: blue;
    color: white;
}

h1 {
    font-size: 3rem;
}

header {

}

body {

}

#destinations {
    background-color: red;
    color: white;
}

.section {
    color: purple;
}